/* footer section */
.footer-section {
  background-color: #343a40;
  padding-top: 30px;
}

.partner-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

/* Social media icons */
.footer-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-evenly;
}

.footer-link-column li {
  list-style-type: none;
  color: gray;
}

h4 {
  color: gray;
}

.footer-copyright {
  color: gray;
}
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

h1 {
  font-size: 1.5em;
  margin-bottom: 25px;
  color: gray;
}

#social-platforms {
  position: relative;
  top: 100px;
  top: 25vh;
  font-size: 1rem;
  text-align: center;
  height: 250px;
  overflow: hidden;
}

.btn {
  clear: both;
  white-space: nowrap;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin: 2px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
  float: left;
  padding: 13px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1em;
}

.btn > span {
  padding: 14px 18px 16px;
  white-space: nowrap;
  color: #fff;
  background: #b8b8b8;
}

.btn:focus > span {
  background: #9a9a9a;
}

.btn-icon > i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 13px;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  background: #212121;
}

.btn-icon > i:after {
  content: "";
  border: 8px solid;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 13px;
  right: -15px;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
  color: #fff;
}

.btn-icon > span {
  border-radius: 0 5px 5px 0;
}

/*Facebook*/
.btn-facebook:hover > i,
.btn-facebook:focus > i {
  color: #343435;
}

.btn-facebook > span {
  background: #343435;
}

/*Twitter*/
.btn-twitter:hover > i,
.btn-twitter:focus > i {
  color: #343435;
}

.btn-twitter > span {
  background: #343435;
}

/*Pinterest*/
.btn-pinterest:hover > i,
.btn-pinterest:focus > i {
  color: #343435;
}

.btn-pinterest > span {
  background: #343435;
}

/*LinkedIn*/
.btn-linkedin:hover > i,
.btn-linkedin:focus > i {
  color: #343435;
}

.btn-linkedin > span {
  background: #343435;
}
