.base-container {
  background-color: #212529;
  display: flex;
}

.social-media-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  height: 400px;
  width: 100%;
}

.social-media-login h1 {
  color: black;
}
